# AWS RDS MySQL Database Connection (Private Subnet)
DB_HOST=your-rds-endpoint.c123456789.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=YourSecurePassword123!
DB_NAME=studentdb

# AWS S3 Bucket Name
S3_BUCKET_NAME=student-photos-diya-2026
AWS_REGION=us-east-1

# Optional: Set to true to use secure time-limited Presigned URLs (Task D2 Option 2)
USE_PRESIGNED_URL=true
