[Unit]
Description=Flask Student Registration App
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/pythoncodeAWS
EnvironmentFile=-/home/ec2-user/pythoncodeAWS/.env
ExecStart=/usr/local/bin/gunicorn -w 3 -b 0.0.0.0:80 app:app
Restart=always

[Install]
WantedBy=multi-user.target
